@charset "utf-8";
html { font-family:"Helvetica Neue",Helvetica,"San Francisco",  Arial, sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; font-size: 16px; }
body { margin: 0; font-size: 1rem; line-height: 1.5; color: #333; background-color: #f2f2f2;  overflow-x: hidden; -webkit-overflow-scrolling: touch; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0; }
[hidden], template { display: none; }
svg:not(:root) { overflow: hidden; }
a { background: transparent; text-decoration: none; -webkit-tap-highlight-color: transparent; color: #0088cc; }
a:active { outline: 0; }
a:active { color: #006699; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
small { font-size: 80%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
img { border: 0; vertical-align: middle;}
hr { -moz-box-sizing: content-box; box-sizing: content-box; height: 0; }
pre { overflow: auto; white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
code, kbd, pre, samp { font-family: monospace, monospace; font-size: 1em; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { -webkit-appearance: button; cursor: pointer; }
button[disabled], html input[disabled] { cursor: default; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
input { line-height: normal; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button { height: auto; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em; }
legend { border: 0; padding: 0; }
textarea { overflow: auto; resize: vertical;}
optgroup { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }
td, th { padding: 0; }
html, button, input, select, textarea { font-family:"San Francisco", "Helvetica Neue", Helvetica, STHeiTi, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote { margin: 0; padding:0;}
ul, ol, li, dl, dd { margin: 0; padding: 0; }
ul, ol { list-style: none outside none; }
h1, h2, h3 { line-height: 2; font-weight: normal; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #cccccc; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #cccccc; }
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #cccccc; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-tap-highlight-color: transparent;}
.clearfix:after{visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0;}
.clearfix{*zoom:1;}
.flex{display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;-webkit-justify-content:center;justify-content:center;-webkit-box-pack: center;}

html,body{text-align: center;position:relative;}

img{max-width: 100%;}
.red{color:#ff6060;}

.g_loading{position: fixed;top:0;left:0;width:100%;height: 100%;z-index: 999;background:url("../img/ajax-loader.gif") no-repeat center center rgba(255,255,255,.5);background-size: 25px 25px;}
.g_alert{max-width:160px;text-align:center;padding:10px;color:#fff;border-radius:5px;background: rgba(0,0,0,0.8);display:block;position: fixed;z-index: 200;bottom:40px;left:50%;font-size:0.75rem;}
.g_alert_video{max-width:160px;text-align:center;padding:12px 30px;color:#fff;border-radius:7px;background: rgba(0,0,0,0.8);display:block;position: fixed;z-index: 2000;top:45%;left:50%;font-size:1rem;}


/****************************************************Common Style End******************************************************/
/****************************************************Main Begin******************************************************/
.content{
	width:100%;
	height:100%;
	font-size:0.75rem;
	color:#ffffff;
	position:relative;
	overflow:hidden;
}

.full{
	width:100%;
	height:100%;
}

.direct-pic{
	width:100%;
	height:100%;
}
.bg-filter{
	-webkit-filter:blur(15px);		/*****给背景图片添加磨砂效果******/
	filter:blur(15px);
}
.poster-bg{
	width:100%;
	height:100%;
	background:url(../img/direct.png)no-repeat center center;
	background-size:100% 100%;
}



/******************************Video*********************************/
video{
	display:block;
/*	height:100%;*/
	width:100%;
}


/******************************End*********************************/
.mask-top{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	left:0;
	z-index:10;
}
.mask-top .end-txt{
	font-size:2.5rem;
	padding-top:200px;
}
.mask-top .end-msg{
	width:100%;
	height:100px;
	padding:20px 20px 0 20px;
	position:relative;
}
.mask-top .end-msg .view{
	width:50%;
	float:left;
	text-align:center;
}
.mask-top .end-msg .like{
	width:50%;
	float:right;
	text-align:center;
}
.mask-top .end-msg .num{
	line-height:30px;
	font-size:1.5rem;
}
.mask-top .end-msg .txt{
	font-size:0.75rem;
	color:rgba(255,255,255,0.8);
}
.mask-top .end-msg .line{
	width:1px;
	background:rgba(255,255,255,0.3);
	height:30px;
	position:absolute;
	left:50%;
	top:30px;
}
.mask-top .query-back-btn{
	width:250px;
	height:50px;
	font-size:1rem;
	color:#ffffff;
	border-radius:25px;
	background:#ff6060;
	text-align:center;
	line-height:50px;
	margin: 40px auto;
}


/*****************************Open prevue*********************************/
.mask-top .prevue-title-txt-top{
	width:50%;
	margin:0 auto;
	text-align:center;
	font-size:1.8rem;
	line-height:40px;
	padding-top:125px;
}
.mask-top .prevue-title-txt-bottom{
	text-align:center;
	font-size:1.8rem;
	line-height:37px;
	padding: 0 15px;
}
.mask-top .prevue-title-dec{
	width:100%;
	padding:25px 20px;
	text-align:left;
	font-size:0.9375rem;
	color:#ffffff;
}
.mask-top .begin-open{
	padding-top:25px;
	font-size:0.8125rem;
}
.mask-top .begin-open .begin-open-time{
	padding-left:3px;
}
.mask-top .timer{
	width:300px;
	height:100px;
	margin:0 auto;
	margin-top:15px;
	color:#ffffff;
	position:relative;
}
.mask-top .timer span{
	display:block;
}
.mask-top .timer .num{
	font-size:2.3rem;
	line-height:60px;
	position:absolute;
	top:0;
	z-index:20;
}
.mask-top .timer .txt{
	font-size:0.8125rem;
	position:absolute;
	top:20px;
}
.mask-top .timer .bg{
	width:60px;
	height:60px;
	border:2px solid rgba(255,255,255,0.2);
	border-radius:5px;
	background:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	z-index:10;
}
.mask-top .timer .bg .bg-line{
	width:100%;
	height:51%;
	border-bottom:2px solid rgba(255,255,255,0.1);
}
.mask-top .timer .bg01{
	left:0px;
}
.mask-top .timer .bg02{
	left:75px;
}
.mask-top .timer .bg03{
	left:150px;
}
.mask-top .timer .bg04{
	left:225px;
}
.mask-top .timer .day{
	left:8px;
}
.mask-top .timer .hour{
	left:84px;
}
.mask-top .timer .minute{
	left:160px;
}
.mask-top .timer .second{
	left:234px;
}
.mask-top .timer .day-txt{
	left:60px;
}
.mask-top .timer .hour-txt{
	left:137px;
}
.mask-top .timer .minute-txt{
	left:211px;
}
.mask-top .timer .second-txt{
	left:286px;
}

.mask-top .begin-open-remain{
	width:260px;
	height:44px;
	background:#ff6060;
	font-size:1rem;
	color:#ffffff;
	line-height:44px;
	border-radius:22px;
	text-align:center;
	position:absolute;
	left:50%;
	bottom:30px;
	margin-left:-130px;
}

/**********************************Top**********************************/
.top{
	width:100%;
	height:70px;
	font-size:0.75rem;
	color:#ffffff;
	background:rgba(0,0,0,0.7);
	position:fixed;
	top:0;
	left:0;
	z-index:100;
}
.top .logo{
	display:block;
	width:50px;
	height:50px;
	position:relative;
	top:10px;
	left:15px;
}
.top .logo-name{
	font-size:1.0625rem;
	position:absolute;
	top:12px;
	left:80px;
}
.top .logo-dec{
	position:absolute;
	top:38px;
	left:80px;
}
.top .open{
	width:80px;
	height:30px;
	text-align:center;
	line-height:28px;
	border-radius:15px;
	border:2px solid #ffffff;
	position:absolute;
	top:20px;
	right:15px;
	vertical-align: middle;
}
.download-btn{
	width:55%;
	height:36px;
	font-size:0.8125rem;
	text-align:center;
	line-height:36px;
	background:#ff6060;
	border-radius:18px;
	position:absolute;
	bottom:35px;
	left:22%;
}

/*****************************Direct Manager***********************************/
.direct-manager{
	width:100%;
	height:70px;
	background:#ffffff;
	position:relative;
	margin-bottom:10px;
	margin-top:10px;
}
.direct-manager .direct-manager-pic{
	display:block;
	width:40px;
	height:40px;
	position:relative;
	top:15px;
	left:15px;
}
.direct-manager .direct-manager-name{
	font-size:0.9375rem;
	color:#000000;
	position:absolute;
	top:15px;
	left:70px;
}
.direct-manager .direct-manager-dec{
	width:250px;
	text-align:left;
	font-size:0.8125rem;
	color:#999999;
	position:absolute;
	top:36px;
	left:70px;
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
}
.direct-manager .attention{
	width:65px;
	height:30px;
	text-align:center;
	line-height:29px;
	font-size:0.8125rem;
	color:#ffffff;
	border-radius:15px;
	background:#ff6060;
	position:absolute;
	top:20px;
	right:15px;
}

/***************************Recommend Product*******************************/
.recommend-product{
	width:100%;
	position:relative;
}
.recommend-product .recommend-top{
	width:100%;
	height:34px;
	font-size:0.75rem;
	color:#999999;
	line-height:34px;
	padding:0 15px;
	background:#ffffff;
	border-bottom:1px solid #f3f3f3;
}
.recommend-product .recommend-top .recommend-title{
	float:left;
}
.recommend-product .recommend-top .recommend-title .recommend-icon{
	display:inline-block;
	width:13px;
	height:13px;
	margin-top:-3px;
	margin-right:3px;
	background:url(../img/recommend_icon.png)no-repeat center center;
	background-size:100% 100%;
	vertical-align:middle;
}
.recommend-product .recommend-top .recommend-num{
	float:right;
}
.recommend-product .swiper-container {
	width:100%;
	height:140px;
    padding:15px 0;
    background:#ffffff;
    margin-bottom:10px;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
} 
.recommend-product .swiper-container .swiper-wrapper{
 	width:100%;
 	height:100%;
 }
.recommend-product .swiper-container .swiper-wrapper .swiper-slide{
 	width:55%!important;
 	height:100%;
 	margin-left:15px;
 }
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product{
 	width:100%;
 	height:100%;
 	padding-left:15px;
 	font-size:0.75rem;
 	color:#ffffff;
 	background: -webkit-linear-gradient(#e84228,#f57751);
 	background: linear-gradient(#e84228,#f57751);
 	border-radius:6px;
 	position:relative;
 }
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .product-name{
	width:100%;
	height:30px;
	padding-right:25px;
	line-height:30px;
	text-align:left;
	border-bottom:1px solid rgba(255,255,255,0.2);
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate{
	position:absolute;
	top:40px;
	left:15px;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate .yield{
	font-size:1.4rem;
	line-height:33px;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate .add{
	font-size:0.875rem;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate .interest{
	font-size:0.875rem;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-txt{
	font-size:0.625rem;
	position:absolute;
	top:70px;
	left:15px;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .date{
	font-size:0.75rem;
	position:absolute;
	top:46px;
	left:135px;
}
.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .money{
	font-size:0.75rem;
	position:absolute;
	top:67px;
	left:135px;
}

/******************************Hot Direct**********************************/
.hot-direct{
	width:100%;
	position:relative;
}
.hot-direct .hot-top{
	width:100%;
	height:34px;
	padding-left:15px;
	background:#ffffff;
	text-align:left;
	font-size:0.75rem;
	line-height:34px;
	color:#999999;
	border-bottom:1px solid #f2f2f2;
}
.hot-direct .hot-top .hot-icon{
	display:inline-block;
	width: 14px;
    height: 20px;
    background: url(../img/hot_icon.png)no-repeat center center;
    background-size: 100% 100%;
    margin-right: 3px;
    margin-bottom: -3px;
}
.hot-direct .hot-direct-list{
	display: -webkit-flex;		/****设定容器为弹性盒模型***/
    display: flex;
    -webkit-flex-wrap: wrap;	/******设定弹性容器为多行，超出换新行*******/
    flex-wrap: wrap;
	width:100%;
	background:#ffffff;
	padding:15px 0 0 15px;
	margin-bottom:10px;
}
.hot-direct .hot-direct-list .hot-item{
	width:47%;
	margin-right:9px;
	float:left;
}
.hot-direct .hot-direct-list .hot-item .item-pic{
	display:block;
	width:100%;
}
.hot-direct .hot-direct-list .hot-item .hot-item-title{
	width:100%;
	padding-top:10px;
	padding-bottom:15px;
	font-size:0.875rem;
	color:#333333;
	line-height:20px;
	text-align:left;
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
}

/*****************************Prevue Direct*********************************/
.prevue-direct{
	width:100%;
	padding-bottom:50px;
	position:relative;
}
.prevue-direct .prevue-top{
	width:100%;
	height:34px;
	padding:0 15px;
	background:#ffffff;
	font-size:0.75rem;
	line-height:34px;
	color:#999999;
	border-bottom:1px solid #f2f2f2;
}
.prevue-direct .prevue-top .prevue-icon{
	display:inline-block;
	width:14px;
	height:14px;
	background:url(../img/prevue_icon.png)no-repeat center center;
	background-size:100% 100%;
	margin-right:3px;
	margin-bottom:-2px;
}


.prevue-direct .prevue-top .prevue-title{
	float:left;
}
.prevue-direct .prevue-top .prevue-txt{
	float:right;
}
.prevue-direct .prevue-list{
	width:100%;
	background:#ffffff;
	padding-left:15px;
}
.prevue-direct .prevue-list .prevue-item{
	width:100%;
	height:110px;
	position:relative;
	border-bottom:1px solid #f2f2f2;
}
.prevue-direct .prevue-list .prevue-item .prevue-item-top{
	width:100%;
	padding-top:10px;
	font-size:0.75rem;
	color:#999999;
	text-align:left;
	vertical-align:middle;
}
.prevue-direct .prevue-list .prevue-item .prevue-item-top .prevue-item-date{
	display:inline-block;
	padding-left:5px;
}
.prevue-direct .prevue-list .prevue-item .prevue-item-top .prevue-item-time{
	display:inline-block;
	padding-left:10px;
}

.prevue-direct .prevue-list .prevue-item .prevue-manager-pic{
	display:block;
	width:40px;
	height:40px;
	position:absolute;
	top:48px;
	left:0px;
}
.prevue-direct .prevue-list .prevue-item .prevue-manager-name{
	font-size:0.9375rem;
	color:#999999;
	position:absolute;
	top:67px;
	left:55px;
}
.prevue-direct .prevue-list .prevue-item .prevue-manager-dec{
	width:260px;
	font-size:0.9375rem;
	color:#333333;
	text-align:left;
	overflow: hidden; /*自动隐藏文字*/
	text-overflow: ellipsis;/*文字隐藏后添加省略号*/
	white-space: nowrap;/*强制不换行*/
	position:absolute;
	top:45px;
	left:55px;
}
.prevue-direct .prevue-list .prevue-item .remain{
	width:47px;
	height:25px;
	text-align:center;
	line-height:21px;
	font-size:0.8125rem;
	color:#ff6060;
	border:2px solid #ff6060;
	border-radius:2px;
	position:absolute;
	top:53px;
	right:15px;
}
.prevue-direct .prevue-list .prevue-item .remain-self{
	width:47px;
	height:25px;
	text-align:center;
	line-height:21px;
	font-size:0.8125rem;
	color:#ff6060;
	border:2px solid #ff6060;
	border-radius:2px;
	position:absolute;
	top:53px;
	right:15px;
}
.prevue-direct .prevue-list .prevue-item .old{
	color:#bebebe;
	border:none;
}

/*****************************Mask flo*********************************/
.mask{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);
	position:absolute;
	top:0;
	left:0;
	z-index:999;
}

/******************Mask list flo**********************/
.mask .int-list{
	width:320px;
	background:#ffffff;
	border-radius:10px;
	font-size:0.9375rem;
	color:#333333;
	position:fixed;
	top:28%;
	left:50%;
	margin-left:-160px;
	z-index:1000;
}
.mask .int-list .int-list-txt{
	width:100%;
	text-align:left;
	line-height:20px;
	padding:20px 15px 0 15px;
}
.mask .int-list input{
	display:block;
	width:90%;
	height:40px;
	border:none;
	background:#f0f0f0;
	border-radius:5px;
	padding-left:10px;
	margin:15px;
	outline:none;
	color:#333333;
	font-size:1rem;
}
.mask .int-list .list-btn{
	width:100%;
	height:50px;
	font-size:1.1rem;
	line-height:50px;
	color:#333333;
	border-top:1px solid #f2f2f2;
}
.mask .int-list .list-btn .list-cancle{
	width:50%;
	height:100%;
	text-align:center;
	float:left;
	border-right:1px solid #f2f2f2;
}
.mask .int-list .list-btn .list-confirm{
	width:50%;
	height:100%;
	text-align:center;
	float:right;
	color:#ff6060;
}

/******************Mask page flo**********************/
.mask .int-page{
	width:320px;
	background:#ffffff;
	border-radius:10px;
	font-size:0.9375rem;
	color:#333333;
	position:fixed;
	top:28%;
	left:50%;
	margin-left:-160px;
	z-index:1000;
}
.mask .int-page .int-page-txt{
	width:100%;
	text-align:left;
	line-height:20px;
	padding:20px 15px 0 15px;
}
.mask .int-page input{
	display:block;
	width:90%;
	height:40px;
	border:none;
	background:#f0f0f0;
	border-radius:5px;
	padding-left:10px;
	margin:15px;
	outline:none;
	color:#333333;
	font-size:1rem;
}
.mask .int-page .page-btn{
	width:100%;
	height:50px;
	font-size:1.1rem;
	line-height:50px;
	color:#333333;
	border-top:1px solid #f2f2f2;
}
.mask .int-page .page-btn .page-cancle{
	width:50%;
	height:100%;
	text-align:center;
	float:left;
	border-right:1px solid #f2f2f2;
}
.mask .int-page .page-btn .page-confirm{
	width:50%;
	height:100%;
	text-align:center;
	float:right;
	color:#ff6060;
}




/****************************************************Main End******************************************************/

/****************************************************Media Query Begin******************************************************/
@media screen and (max-width:384px){
	
	/**********直播中**********/
	.download-btn {width: 58%;left: 21%;}
	.direct-manager .direct-manager-dec {width: 220px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .date {left:130px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .money {left:130px;}
	.prevue-direct .prevue-list .prevue-item .prevue-manager-dec {width: 240px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .product-name {padding-right: 20px;}
	
	/**********直播预告**********/
	.mask-top .prevue-title-txt-top{font-size:1.6rem;padding-top: 120px;line-height:35px;}
	.mask-top .prevue-title-txt-bottom{font-size:1.6rem;line-height:35px;}
	.mask-top .prevue-title-dec{font-size:0.875rem;padding:20px;}
	.mask-top .begin-open{padding-top:20px;}
	.mask-top .timer .bg {width: 58px;height: 58px;}
	.mask-top .timer .bg01{left:5px;}
	.mask-top .timer .bg02{left:80px;}
	.mask-top .timer .bg03{left:155px;}
	.mask-top .timer .bg04{left:230px;}
	.mask-top .timer .day{left:13px;}
	.mask-top .timer .hour{left:89px;}
	.mask-top .timer .minute{left:163px;}
	.mask-top .timer .second{left:238px;}
	.mask-top .timer .day-txt{left:65px;}
	.mask-top .timer .hour-txt{left:141px;}
	.mask-top .timer .minute-txt{left:216px;}
	.mask-top .timer .second-txt{left:291px;}
	
	/**********直播结束**********/
	.mask-top .end-txt{font-size:2.3rem;padding-top:180px;}
	.mask-top .end-msg{padding:10px 30px 0 30px;}
	.mask-top .end-msg .num{font-size:1.3rem;}
	.mask-top .end-msg .line{top:22px;}
	.mask-top .query-back-btn{width:230px;height:44px;line-height:44px;border-radius:22px;font-size:0.9375rem;margin-top:25px;}
	
	/**********列表项手机号码输入弹框**********/
	.mask .int-list{width:300px;margin-left:-150px;font-size:0.875rem;}
	.mask .int-list .list-btn{font-size:1.05rem;}
	
	/**********内容页手机号码输入弹框**********/
	.mask .int-page{width:300px;margin-left:-150px;font-size:0.875rem;}
	.mask .int-page .page-btn{font-size:1.05rem;}
	
}
@media screen and (max-width:375px){
	
	/**********直播中**********/
	.download-btn {width: 60%;left: 20%;}
	.direct-manager .direct-manager-dec {width: 210px;}
	.prevue-direct .prevue-list .prevue-item .prevue-manager-dec {width: 230px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .date {left:125px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .money {left:125px;}
	
	/**********直播预告**********/
	.mask-top .prevue-title-txt-top{font-size:1.55rem;padding-top:110px;}
	.mask-top .prevue-title-dec{font-size:0.8125rem;}
	.mask-top .prevue-title-txt-bottom{font-size:1.55rem;line-height:32px;}
	.mask-top .timer .num{line-height:56px;}
	.mask-top .timer .txt{top:18px;}
	.mask-top .begin-open{padding-top:15px;}
	.mask-top .timer .bg{width:55px;height:55px;}
	.mask-top .timer .bg01{left:10px;}
	.mask-top .timer .bg02{left:78px;}
	.mask-top .timer .bg03{left:147px;}
	.mask-top .timer .bg04{left:216px;}
	.mask-top .timer .day{left:15px;}
	.mask-top .timer .hour{left:87px;}
	.mask-top .timer .minute{left:155px;}
	.mask-top .timer .second{left:223px;}
	.mask-top .timer .day-txt{left:64px;}
	.mask-top .timer .hour-txt{left:134px;}
	.mask-top .timer .minute-txt{left:203px;}
	.mask-top .timer .second-txt{left:273px;}
	
	/**********直播结束**********/
	.mask-top .end-txt{font-size:2.2rem;padding-top:170px;}
	.mask-top .end-msg .line{top:24px;}
	.mask-top .end-msg{padding:10px 35px 0 35px;}
	.mask-top .query-back-btn{width: 220px;height: 42px;line-height: 40px;border-radius: 21px;margin-top: 20px;}
	
	/********手机号码输入弹框********/
	
	
	
	
}
@media screen and (max-width:360px){
	
	/**********直播中**********/
	.download-btn {width: 62%;left: 19%;}
	.direct-manager .direct-manager-dec {width: 200px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .product-name {padding-right: 15px;}
	.prevue-direct .prevue-list .prevue-item .prevue-manager-dec {width: 220px;top: 47px;}
	
	/**********直播预告**********/
	.mask-top .begin-open-remain{width:240px;height:40px;margin-left:-120px;line-height:40px;}
	.mask-top .timer .bg01{left:20px;}
	.mask-top .timer .bg02{left:87px;}
	.mask-top .timer .bg03{left:153px;}
	.mask-top .timer .bg04{left:219px;}
	.mask-top .timer .day{left:27px;}
	.mask-top .timer .hour{left:95px;}
	.mask-top .timer .minute{left:159px;}
	.mask-top .timer .second{left:225px;}
	.mask-top .timer .day-txt{left:75px;}
	.mask-top .timer .hour-txt{left:141px;}
	.mask-top .timer .minute-txt{left:207px;}
	.mask-top .timer .second-txt{left:274px;}
	
	
	/**********直播结束**********/
	.mask-top .end-txt{font-size:2rem;padding-top:160px;}
	.mask-top .end-msg .num{font-size:1.2rem;line-height:25px;}
	.mask-top .query-back-btn{height:40px;width:210px;line-height:39px;border-radius:20px;}
	.mask-top .end-msg .line{top:20px;}
		
	/********列表项手机号码输入弹框*********/
	.mask .int-list{width:290px;margin-left:-145px;font-size:0.8125rem;}
	.mask .int-list .list-btn{font-size:1rem;}
	.mask .int-list input{height:35px;font-size:0.875rem;}
	
	/********内容页手机号码输入弹框*********/
	.mask .int-page{width:290px;margin-left:-145px;font-size:0.8125rem;}
	.mask .int-page .page-btn{font-size:1rem;}
	.mask .int-page input{height:35px;font-size:0.875rem;}
	
	
}
@media screen and (max-width:320px){
	
	/**********直播中**********/
	.top{height:60px;}
	.top .open {width: 70px;font-size:0.75rem;height:26px;line-height:22px;border-radius: 13px;top:17px;}
	.top .logo{width:40px;height:40px;}
	.top .logo-name{font-size:1rem;top:10px;left:65px;}
	.top .logo-dec{font-size:0.75rem;top:32px;left:65px;}
	.download-btn {width: 66%;left: 17%;font-size:0.75rem;}
	.direct-manager .direct-manager-name{left:65px;font-size: 0.8125rem;}
	.direct-manager .direct-manager-dec {width: 175px;left:65px;font-size:0.75rem;}
	.direct-manager .attention {width: 60px;height: 28px;line-height:27px;}
	.hot-direct .hot-direct-list .hot-item .hot-item-title{font-size:0.8125rem;padding-top: 5px;padding-bottom: 10px;}
	.recommend-product .swiper-container{height:130px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product {padding-left: 10px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate{left:10px;top:35px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-rate .yield{font-size:1.2rem;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .yield-txt{left:10px;top:65px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .date{left:110px;top:43px;}
	.recommend-product .swiper-container .swiper-wrapper .swiper-slide .product .money{left:110px;top:64px;}
	.prevue-direct .prevue-list .prevue-item .prevue-manager-dec{width:185px;left:50px;font-size: 0.8125rem;top: 49px;}
	.prevue-direct .prevue-list .prevue-item .prevue-manager-name{left:50px;font-size: 0.8125rem;top:68px;}
	
	/**********直播预告**********/
	.mask-top .prevue-title-txt-top{font-size:1.35rem;padding-top:95px;line-height:27px;}
	.mask-top .prevue-title-txt-bottom{font-size:1.35rem;line-height:27px;}
	.mask-top .prevue-title-dec{font-size:0.75rem;padding-top:10px;}
	.mask-top .begin-open{padding-top:10px;}
	.mask-top .timer{width:260px;height:70px;margin-top:8px;}
	.mask-top .timer .bg{width:46px;height:46px;}
	.mask-top .timer .num{font-size:2rem;line-height:46px;}
	.mask-top .timer .txt{top:13px;}
	.mask-top .timer .bg01{left:16px;}
	.mask-top .timer .bg02{left:74px;}
	.mask-top .timer .bg03{left:132px;}
	.mask-top .timer .bg04{left:189px;}
	.mask-top .timer .day{left:20px;}
	.mask-top .timer .hour{left:79px;}
	.mask-top .timer .minute{left:137px;}
	.mask-top .timer .second{left:194px;}
	.mask-top .timer .day-txt{left:62px;}
	.mask-top .timer .minute-txt{left:177px;}
	.mask-top .timer .hour-txt{left:120px;}
	.mask-top .timer .second-txt{left:235px;}
	.mask-top .begin-open-remain{width:200px;height:34px;line-height:34px;font-size:0.75rem;bottom:25px;margin-left:-100px;}
	
	
	/**********直播结束**********/
	.mask-top .end-txt{font-size:1.8rem;padding-top:140px;}
	.mask-top .end-msg{padding:10px 40px 0 40px;}
	.mask-top .end-msg .num{font-size:1rem;}
	.mask-top .end-msg .txt{font-size:0.6875rem;}
	.mask-top .end-msg .line{top:18px;}
	.mask-top .query-back-btn{height:36px;width:180px;line-height:36px;border-radius:18px;margin-top:5px;}
	
	/********列表项手机号码输入弹框********/
	.mask .int-list {width: 260px;margin-left: -130px;font-size: 0.75rem;}
	.mask .int-list .list-btn{font-size:0.9375rem;height:40px;line-height:40px;}
	.mask .int-list .int-list-txt{padding-top:15px;}
	.mask .int-list input{margin-top:10px;margin-bottom:10px;}
	.g_alert_video{padding:10px 25px;font-size:0.875rem;}
	
	/********内容页手机号码输入弹框********/
	.mask .int-page {width: 260px;margin-left: -130px;font-size: 0.75rem;}
	.mask .int-page .page-btn{font-size:0.9375rem;height:40px;line-height:40px;}
	.mask .int-page .int-page-txt{padding-top:15px;}
	.mask .int-page input{margin-top:10px;margin-bottom:10px;}
	
	
	
	
}


/****************************************************Media Query End******************************************************/